<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	<title>Sandwich Club</title>
	<link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />
	{% if redirect %}
	<meta http-equiv="refresh" content="5;url=/">
	{% endif %}
    </head>
    <div id="wrapper">
		<div id="branding">
		<H1>Sandwich Club</H1>
	</div></div>
  <body>
  <div id="divider"></div>
  <div id="navContent">
  <div id="sideBarContentRight">
  <H2>
  <ul><a href="/" title="Home">Home</a></ul>
  <ul><a href="/static/about" title="about">About</a></ul>
  <ul><a href="/static/getuserhistory" title="history">Transaction History</a></ul>
  <!--<ul><a href="/static/receipt" title="Receipt">Receipt Settings</a></ul>-->
  <!--<ul><a href="/changepassword" title="changepassword">Change Password</a></ul>-->
  {% if url %}
  <a href="{{ url }}">{{ url_linktext }} </a>
  {% endif %}
  <ul><a href="mailto:samm@voicebox.com" title="Author">Suggestions or Bugs</a></ul>
  {% if admin %}
  <ul>Admin Stuff</ul>
  <ul><a href="/manageusers" title="users">Manage Users</a></ul>
  {% endif %}
  </H2>
  </div>
  </div>
  <div id="mainContent">
	<div id="sideBarContent">
	{% block sideBarContent %}
	{%  endblock %}
</div>
	<div id="sideBarContent">
	<table width="100%"border="0" cellspacing="0" cellpadding="5">
		<tr>
			<td valign="top" align="left">
				<b>Bakery</b>
				<table width="100%" border="0" cellspacing="5">
				<tr>
					<td> Cookies, Pastries </td>
					<td> $0.60 </td>
				</tr>
				</table>
			</td>
			<td valign="top" align="left">
				<b>Containers</b>
				<table width="100%" border="0" cellspacing="5">
				<tr>
					<td> Soup, chili, gum </td>
					<td> $1.00 </td>
				</tr>
				</table>
			</td>
			<td valign="top" align="left">
				<b>Dry goods</b>
				<table width="100%" border="0" cellspacing="5">
				<tr>
					<td> Granola Bars </td>
					<td> $0.40 </td>
				</tr>
				<tr>
					<td> 4 Cookies, pack of craclers</td>
                    <td> $0.40 </td>
				</tr>
				<tr>
					<td> Chips </td>
                    <td> $0.40 </td>
				</tr>
				<tr>
					<td> Ramen, Noodles assorted </td>
                    <td> $0.40 </td>
				</tr>
				<tr>
					<td> Cereal</td>
                    <td> $0.40 </td>
				</tr>
				</table>
			</td>
           </tr>
		 <tr>
			<td valign="top" align="left">
				<b>Frozen</b>
				<table width="100%" border="0" cellspacing="5">
                <tr>	
                    <td> Sandwiches, burritos </td>
					<td> $1.00 </td>
				</tr>
                </table>
			</td>
			<td valign="top" align="left">
				<b>Fruit</b>
				<table width="100%" border="0" cellspacing="5">
				<tr>
					<td> Fresh (2 small such as tangerinese) </td>
					<td> $1.00 </td>
				</tr>
				<tr>
					<td> yogurt, pudding, fruit slices </td>
					<td> $1.00 </td>
				</tr>	
				</table>
			</td>
			<td valign="top" align="left">
				<b>Soda/Juice</b>
				<table width="100%" border="0" cellspacing="5">
				<tr>
					<td> All drinks </td>
                    <td> $0.40 </td>
				</tr>
				</table>
			</td>&nbsp;<td>
		</tr>
        <tr>
			<td valign="top" align="left">
				<b>Salad</b>
				<table width="100%" border="0" cellspacing="5">
                <tr>	
                    <td> All items </td>
					<td> $3.00 </td>
				</tr>
                </table>
			</td>
			<td valign="top" align="left">
				<b>Sandwich</b>
				<table width="100%" border="0" cellspacing="5">
				<tr>
					<td> Meat, Cheese </td>
					<td> $1.00 </td>
				</tr>
				<tr>
					<td> PB, Jelly or Nutella </td>
					<td> $0.50 </td>
				</tr>	
				</table>
			</td>
			<td valign="top" align="left">
				<b>Snacks</b>
				<table width="100%" border="0" cellspacing="5">
				<tr>
					<td> Dispenser </td>
                    <td> $0.40 </td>
				</tr>
				</table>
			</td>&nbsp;<td>
		</tr>
        <tr>
			<td valign="top" align="left">
				<b>Veggie</b>
				<table width="100%" border="0" cellspacing="5">
                <tr>	
                    <td> Fresh- whole tomato, avocado, etc </td>
					<td> $0.55 </td>
				</tr>
                <tr>	
                    <td> 2 eggs- fresh or cooked </td>
					<td> $0.55 </td>
				</tr>
                </table>
			</td>
			<td valign="top" align="left">
				<b>Specialty iems</b>
				<table width="100%" border="0" cellspacing="5">
				<tr>
					<td> Prices as marked </td>
				</tr>
				</table>
			</td>&nbsp;<td>
		</tr>
	</table>
    </div>
</div>
  </body>
</html>
