{% extends "base.html" %}
{% block sideBarContent %}
  <H3>Change Password</H3>
  <form action="/changepassword" method="post">
	<table border="0" cellspacing="10">
	<tr>
		<td> Username: </td>
		<td> <input type=text name="username" size=15/> </td>
	</tr>
	<tr>
		<td> Old Password: </td>
		<td> <input type=password name="oldpassword" size=15/> </td>
	</tr>
	<tr>
		<td> New Password: </td>
		<td> <input type=password name="newpassword1" size=15/> </td>
	</tr>
	<tr>
		<td> New Password (again): </td>
		<td> <input type=password name="newpassword2" size=15/> </td>
	</tr>
    </table>
  <div><input type="submit" value="Update"></div>
  </form>
{% endblock %}
