{% extends "base.html" %}
{% block sideBarContent %}
  <H3>Developing this App </H3>
  I've never made a website or used Python this summer, so developing this app was a real experience in expanding my knowledge. It's also a testament to how easy Google, Python, and Django make web app development. The environment encourages experimentation and allows you to test with immediate feedback.<br><br>
  If you'd like to contribute, you can checkout the code from http://vbtsandwichclub.googlecode.com/svn/trunk/ and poke around it. If you have any particular patches or would like to become more involved, email kevinl@voicebox.com.
  I found Google's <a href="http://code.google.com/appengine/docs/gettingstarted/">Getting Started With App Engine</a> and O'Reilly's similarly named <a href="http://www.onlamp.com/pub/a/onlamp/2008/05/20/getting-started-with-the-google-apps-engine.html">Getting Started With Google's App Engine</a> to be extremely helpful in creating this webapp (you'll notice I lifted the CSS from O'Reilly's tutorial). <br><br>
{% endblock %}

