{% extends "base.html" %}
{% block sideBarContent %}
  <H3>Edit User </H3>
  <form action="/edituser" method="post">
	  <div>Username   :<input type=text name="username" value={{ user.username }} readonly> </div> 
	  <div>Full Name  :<input type="text" name="fullname" value="{{ user.fullname }}" size=15/></div>
	  <div>Password   :<input type="password" name="password" value={{ user.password }} size=15/></div>
      <div>Set Amount :<input type="text" name="setamount" value={{ user.monies }} size=15/></div>
	  <div>Remove User:<input type="checkbox" name="remove"></div>
	  <br>
	  <div><input type="submit" value="Update"></div>
  </form>
  <H3>Make a deposit</H3>
  <form action="/deposit" method="post">
	  <div>Username   :<input type=text name="username" value={{ user.username }} readonly> </div> 
	  <div>Add Amount :<input type="text" name="addamount" value="0" size=15/></div>
	  <br>
	  <div><input type="submit" value="Deposit"></div>
  </form>
{% endblock %}

