{% extends "base.html" %}
{% block sideBarContent %}
<H3><b>Pay for your meal</b></H3>
  <form action="/pay" method="post">
	  <div>Username:<input type="text" name="username" size=20/></div>
	  <!--<div>Password:<input type="password" name="password" size=20/></div>-->
      <div>Payment :<input type="text" name="payment" size=20/> (in dollars)</div>
	  <div><input type="submit" value="Pay"></div>
  </form>
  
<!--  <a name='b_08f08e80074b012fbb52000d60d4c902'></a><object type='application/x-shockwave-flash' data='https://giving.paypallabs.com/flash/badge.swf' width='205' height='350' id='badge08f08e80074b012fbb52000d60d4c902' align='middle'>
<param name='allowScriptAccess' value='always' />
<param name='allowNetworking' value='all' />
<param name='movie' value='https://giving.paypallabs.com/flash/badge.swf' />
<param name='quality' value='high' />
<param name='bgcolor' value='#FFFFFF' />
<param name='wmode' value='transparent' />
<param name='FlashVars' value='Id=08f08e80074b012fbb52000d60d4c902'/>
<embed src='https://giving.paypallabs.com/flash/badge.swf' FlashVars='Id=08f08e80074b012fbb52000d60d4c902' quality='high' bgcolor='#FFFFFF' wmode='transparent' width='205' height='350' Id='badge08f08e80074b012fbb52000d60d4c902' align='middle' allowScriptAccess='always' allowNetworking='all' type='application/x-shockwave-flash' pluginspage='http://www.macromedia.com/go/getflashplayer'></embed>
</object>
-->

<H3><b>Deposit money by Cash to Catherine or Sam or via paypal.com to cheung_catherine@hotmail.com</b></H3>

{% endblock %}
