<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />
       </head>
       <div id="wrapper">
       <div id="branding">
       <H1>Sandwich Club</H1>
  </div></div>
  <body>
  <div id="divider"></div>
  <div id="navContent">
  <div id="sideBarContentRight">
  <H2>
  <ul><a href="/" title="Home">Home</a></ul>
  <ul><a href="/about" title="about">About</a></ul>
  <ul><a href="/history" title="history">Transaction History</a></ul>
  <ul><a href="/changepassword" title="changepassword">Change Password</a></ul>
  {% if url %}
  <a href="{{ url }}">{{ url_linktext }} (for admin purposes only)</a>
  {% endif %}
  <ul><a href="mailto:kevinl@voicebox.com" title="Author">Report Bugs</a></ul>
  <ul><a href="mailto:tylers@voicebox.com" title="Kenny G">Request Smooth Jazz</a></ul>
  {% if admin %}
  <ul>Admin Stuff</ul>
  <ul><a href="/manageusers" title="users">Manage Users</a></ul>
  {% endif %}
  </H2>
  </div>
  </div>
  <div id="mainContent">
	<div id="sideBarContent">
	{% block sideBarContent %}
	{%  endblock %}
</div>
	<div id="sideBarContent">
	<H2>Prices</H2>
	<br>
	<table width="100%"border="0" cellspacing="0" cellpadding="5">
		<tr>
			<td>
				<b>Snacks</b>
				<table width="100%" border="0" cellspacing="5">
				<tr>
					<td> 1 Cookie : </td>
					<td> $0.25 </td>
				</tr>
				<tr>
					<td> 1 Chips : </td>
					<td> $0.25 </td>
				</tr>
				<tr>
					<td> 1 Yogurt : </td>
					<td> $0.50 </td>
				</tr>
				<tr>
					<td> 2 String Cheese : </td>
					<td> $0.25 </td>
				</tr>
				<tr>
					<td> 1 Fruit Cup : </td>
					<td> $0.25 </td>
				</tr>
				<tr>
					<td> 1 Pudding Cup : </td>
					<td> $0.25 </td>
				</tr>
				<tr>
					<td> 1 Edamame : </td>
					<td> $0.50 </td>
				</tr>
				<tr>
					<td> 1 Grapefruit Cup : </td>
					<td> $1.00 </td>
				</tr>
				<tr>
					<td> 1 Aussie Bites : </td>
					<td> $0.25 </td>
				</tr>
				<tr>
					<td> 2 Brownies : </td>
					<td> $0.25 </td>
				</tr>
				<tr>
					<td> 1 Nabisco Snack : </td>
					<td> $0.25 </td>
				</tr>
				<tr>
					<td> 1 Kudos : </td>
					<td> $0.25 </td>
				</tr>
				<tr>
					<td> Eggs : </td>
					<td> Free </td>
				</tr>
				<tr>
					<td> Veggie Dip : </td>
					<td> Free </td>
				</tr>
				</table>
			</td>
			<td>
				<b>Fruit</b>
				<table width="100%" border="0" cellspacing="5">
				<tr>
					<td> 1 Apple : </td>
					<td> $0.50 </td>
				</tr>
				<tr>
					<td> 1 Pear : </td>
					<td> $0.50 </td>
				</tr>
				<tr>
					<td> 1 Banana : </td>
					<td> $0.25 </td>
				</tr>
				<tr>
					<td> 1 Mango : </td>
					<td> $1.00 </td>
				</tr>
				<tr>
					<td> 1 Plum : </td>
					<td> $0.25 </td>
				</tr>
				<tr>
					<td> 1 Nectarine/Peach : </td>
					<td> $0.50 </td>
				</tr>
				<tr>
					<td> 1 Orange : </td>
					<td> $0.50 </td>
				</tr>
				<tr>
					<td> 1 Honey Tangerine : </td>
					<td> $0.50 </td>
				</tr>
				<tr>
					<td> 1 Mandarin : </td>
					<td> $0.25 </td>
				</tr>
				<tr>
					<td> 1 Persimmon : </td>
					<td> $0.50 </td>
				</tr>
				<tr>
					<td> 4 oz Blueberries : </td>
					<td> $1.00 </td>
				</tr>
				<tr>
					<td> 1 Kiwi : </td>
					<td> $0.50 </td>
				</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<b>Breakfast</b>
				<table width="100%" border="0" cellspacing="5">
				<tr>
					<td> 1 Bowl of Cereal : </td>
					<td> $0.25 </td>
				</tr>
				<tr>
					<td> 1 Croissant : </td>
					<td> $0.50 </td>
				</tr>
				<tr>
					<td> 1 Muffin : </td>
					<td> $0.50 </td>
				</tr>
				<tr>
					<td> 1 English Muffin : </td>
					<td> $0.25 </td>
				</tr>
				<tr>
					<td> 2 Waffles : </td>
					<td> $0.25 </td>
				</tr>
				<tr>
					<td> 1 Bagel w/ Cream Cheese: </td>
					<td> $0.50 </td>
				</tr>
				<tr>
					<td> 1 Biscotti : </td>
					<td> $0.25 </td>
				</tr>
				<tr>
					<td> 1 cup of Tea: </td>
					<td> $0.50 </td>
				</tr>
				</table>
			</td>
			<td>
				<b>Lunch</b>
				<table width="100%" border="0" cellspacing="5">
				<tr>
					<td> 1 Sandwich : </td>
					<td> $2.00 </td>
				</tr>
				<tr>
					<td> 1 Burger : </td>
					<td> $2.00 </td>
				</tr>
				<tr>
					<td> 1 Can of Soup : </td>
					<td> $1.00 </td>
				</tr>
				<tr>
					<td> 1 Bagel w/ Lox : </td>
					<td> $2.00 </td>
				</tr>
				<tr>
					<td> 1 PB&amp;J Sandwich: </td>
					<td> $1.00 </td>
				</tr>
				<tr>
					<td> 1 Pizza : </td>
					<td> $0.50 </td>
				</tr>
				<tr>
					<td> 3 Bagel Bits : </td>
					<td> $0.50 </td>
				</tr>
				<tr>
					<td> 1 Side Salad : </td>
					<td> $0.50 </td>
				</tr>
				<tr>
					<td> 1 Full Salad: </td>
					<td> $1.00 </td>
				</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<b>Frozen Food</b>
				<table width="100%" border="0" cellspacing="5">
				<tr>
					<td> 1 Wonton Soup : </td>
					<td> $1.50 </td>
				</tr>
				<tr>
					<td> 1 Teriyaki Rice : </td>
					<td> $2.00 </td>
				</tr>
				<tr>
					<td> 1 Hot Pocket : </td>
					<td> $1.00 </td>
				</tr>
				<tr>
					<td> 1 Paste Bowl : </td>
					<td> $2.00 </td>
				</tr>
				<tr>
					<td> 1 Chicken Pot Pie : </td>
					<td> $1.00 </td>
				</tr>
				<tr>
					<td> 1 Chimichanga : </td>
					<td> $0.50 </td>
				</tr>
				<tr>
					<td> 1 Philly Steak : </td>
					<td> $1.50 </td>
				</tr>
				</table>
			</td>&nbsp;<td>
		</tr>
	</table>
    </div>
</div>
  </body>
</html>
