{% extends "base.html" %}
{% block sideBarContent %}
  <H3>Manage Users</H3>
  <form action="/manageusers" method="post">
	  <H3>Find User</H3>
	  <div>Username :<input type="text" name="username" size=15/></div>
	  <br>
	  <div><input type="submit" value="Find"></div> 
  </form> 
  <form action="/createuser" method="post">
	  <H3>Create User</H3>
	  <div>Username :<input type="text" name="username" size=15/></div>
	  <br>
	  <div><input type="submit" value="Create"></div>
  </form>
  <form action="/viewuserhistory" method="post">
	  <H3>View User History</H3>
	  <div>Username :<input type="text" name="username" size=15/></div>
	  <br>
	  <div><input type="submit" value="View"></div>
  </form>
<div id="sideBarContent">
	<table border="0" cellspacing="10">
	<tr>
		<th> Username </th>
		<th> Full Name </th>
		<th> Account </th>
	</tr>
	{% for user in users %}
	<tr>
		<td> {{user.username}} </td>
		<td> {{user.fullname}} </td>
		<td> ${{user.monies}} </td>
	</tr>
	{% endfor %}
</table>

  </div>
{% endblock %}
